<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Brume d'Encre Tattoo Shop{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="{{ path('app_home') }}">
                    <img src="{{ asset('images/nav-brand.webp') }}" alt="BrumeEncreTattoo" width="70" class="d-inline-block align-text-top">
                    <span class="ms-2 d-none d-sm-inline">Brume d'Encre Tattoo</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="mt-4">
            {% block body %}{% endblock %}
        </div>

        <footer class="text-center">
            <div class="container">
                <div class="social-links mb-3">
                    <a href="https://www.instagram.com/brumedencre_tattoo/?hl=fr" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/monatatoueuse" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                </div>
                <p class="mb-0">&copy; {{ "now"|date("Y") }} Brume d'Encre Tattoo. Tous droits réservés.</p>
            </div>
        </footer>
    </body>
</html>
